<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="E94111091_王昊晨_practice8.Properties.Settings.e94111091_dbConnectionString"
            connectionString="Data Source=ddns.chih-hao.xyz,11433;Initial Catalog=e94111091_db;User ID=e94111091;Password=04f2b214fe1d282b;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>